<div class="flex flex-row gap-2 justify-between items-center w-full h-[100vh]">
  <div class="flex flex-col justify-center items-center w-full h-full gap-2">
    <span class="text-lg font-bold">Welcome</span>
    <span class="text-sm dark:text-neutral-600 text-neutral-300"
      >create an account to see your dashbourd</span
    >
    <form
      [formGroup]="form"
      class="flex flex-col w-[90%] h-fit shadow-sm shadow-black gap-5 rounded-md justify-center items-center p-2"
    >
      <span class="text-lg font-bold">Welcome To Finacee</span>
      <span class="text-sm dark:text-neutral-600 text-neutral-300"
        >create an account to see your dashbourd</span
      >
      <div class="flex flex-col gap-2 justify-start items-start w-full">
        <span>Email</span>
        <input
          type="email"
          formControlName="email"
          placeholder="eg.smith@gmail.com"
          class="bg-transparent dark:border-black border-neutral-300 outline-none rounded-md w-full border-[1px] p-2"
        />
        <span *ngIf="error().email !== ''" class="text-sm text-red-500">{{
          error().email
        }}</span>
      </div>

      <div class="flex flex-col gap-2 justify-start items-start w-full">
        <span>Name</span>
        <input
          type="text"
          formControlName="name"
          placeholder="eg. jack Smith"
          class="bg-transparent dark:border-black border-neutral-300 outline-none rounded-md w-full border-[1px] p-2"
        />
        <span *ngIf="error().name !== ''" class="text-sm text-red-500">{{
          error().name
        }}</span>
      </div>

      <div class="flex flex-col gap-2 justify-start items-start w-full">
        <span>Password</span>
        <input
          type="password"
          formControlName="password"
          placeholder="password"
          class="bg-transparent dark:border-black border-neutral-300 outline-none p-2 rounded-md w-full border-[1px]"
        />
        <span *ngIf="error().password !== ''" class="text-sm text-red-500">{{
          error().password
        }}</span>
      </div>
      <button
        (click)="submit()"
        class="w-[100%] rounded-md p-2 dark:bg-black bg-neutral-300 flex flex-row justify-center items-center gap-2"
      >
        <hlm-spinner *ngIf="loading()" />
        <span>Register</span>
      </button>
      <span routerLink="/login" class="text-blue-500 cursor-pointer text-lg"
        >have an account? Register</span
      >
    </form>
  </div>
  <div
    class="hidden md:flex flex-col justify-center items-center w-full h-screen bg-[#21963c]"
  >
    <img src="/assets/logo.svg" class="w-20 h-20" />
  </div>
</div>
